<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/recipes/create">Create Recipe</a></li>
    <li class="user-nav"><a href="/user/login">Login</a></li>
    <li class="user-nav"><a href="/session/logout">Logout</a></li>
    <li class="user-nav"><a href="/session/secret">Profile</a></li>
  </ul>
</nav>
