<main>
  <div class="create-container">
    <h2>Add a Recipe or Cook to the Database</h2>
    <form action="/recipes/create" method="POST">
      <input name="title" type="text" placeholder="Title" required>
      <Select name="level">
        <option value ="Easy Peasy">Simple</option>
        <option value ="Amateur Chef">Amateur</option>
        <option value ="Chef">Advanced</option>
        <option value ="UltraPro Chef">Professional</option>
      </Select>
      <input name="ingredients" type="text" placeholder="Ingredients" required>
      <input name="cuisine" type="text" placeholder="Cuisine" required>
      <Select name="dishtype">
        <option value ="Breakfast">Breakfast</option>
        <option value ="Dish">Dish</option>
        <option value ="Snack">Snack</option>
        <option value ="Drink">Drink</option>
        <option value ="Dessert">Dessert</option>
        <option value ="Other">Other</option>
      </Select>
      <input name="image" type="text" placeholder="Image-Url" required>
      <input value="0" name="duration" type="number" placeholder="Duration" required>
      <select name="creator">
        {{#each creator}}
            <option value="{{_id}}"> {{firstName}} {{lastName}} </option>
        {{/each}}
      </select>
      <input class="submit" name="submit" type="submit" value="Create Recipe">
    </form>

    <form action="/recipes/create/cook" method="post">
      <input required name="firstName" type="text" placeholder="First name">
      <input required name="lastName" type="text" placeholder="Last name">
      <input class="submit" name="submit" type="submit" value="Add Cook">
    </form>

  </div>
</main>


