
<main class="recipes-main">
  <h2>So WOW, much great. Check out our recipes!</h2>
  {{!-- <img src="https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L._SY355_.png"> --}}
  <div class="all-recipes-container">
    {{#each recipes}}
      <div class="recipe-container">
        <a href="/recipes/{{this._id}}"><h3>{{this.title}}</h3></a>
        <h3>By {{this.creator.firstName}}</h3> {{!-- very wronk !! --}}
        <img src="{{this.image}}">
      </div>  
    {{/each}}
  </div>
  <a class="add-recipe "href="/recipes/create"> + Create a recipe or add a Cook</a>
</main>