
// === GENERIC ===
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  // background-color: lightblue;
  background-image: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
  padding: 3px 0;
}

a {
  color: rgba(0, 110, 92, 0.746);
  font-size: 1.2rem;
  margin: 30px 20px;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  padding: 30px;
}


h2 {
  font-size: 2rem;
  padding: 20px;
}

h3 {
  font-size: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

// === FORMS ===
form {
  display: flex;
  flex-direction: column;
}

input, select {
  margin: 10px;
  padding: 8px 10px;
}

.submit {
  background-color: rgb(218, 224, 214);
  font-size: 1.4rem;
  height: 40px;
}

// === ALL RECIPES ===
.all-recipes-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.all-recipes-container h3 {
  font-size: 1.2rem;
  margin: 5px 0;
  padding: 0;
}

.all-recipes-container a {
  margin: 0;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-around;
  border: 3px solid slategrey;
  margin: 20px 25px;
  padding: 20px;
  background-color: rgba(230, 230, 250, 0.550);
  border-radius: 20px;
}

.recipe-container img {
  width: 75%;
  border-radius: 20px;
}

.add-recipe {
  font-size: 1.6rem;
  border: 3px solid slategrey;
  background-color: rgba(213, 255, 211, 0.55);
  padding: 5px 10px;
}
// === SINGLE RECIPE ===
.single-recipe-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
  border: 3px solid slategrey;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(230, 230, 250, 0.550)
}

.single-recipe-container h3 {
  font-size: 1.6rem;
}

.single-recipe-container a {
  margin: 0;
}

.single-recipe-container img {
  margin: 0;
  width: 80%;
}

// === HOME ===
.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(230, 230, 250, 0.550);
  border: 5px solid slategray;
}

.home-container h2 {
  padding: 20px;
}

// === LOGIN/ SIGNUP ===
.login-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: rgba(230, 230, 250, 0.550);
}

.login-container a {
  font-size: 1rem;

}

.login-container button {
  height: 30px;
  margin: 10px;
}

// === NOTIFICATIONS ===
.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.success-message {
  background: rgb(68, 211, 87);
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

// === NAV BAR ===
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(30, 30, 53);
  color: white;
  width: 100%;
  padding: 5px 0;
  border: 1px solid rgb(78, 78, 78);
}
nav a {
  margin: 0; 
  padding: 0;
  color: rgba(255, 255, 255, 0.733);

}

nav img {
  padding: 0 4px;
}

.nav-home-link {
  border: 1px solid rgb(78, 78, 78);
  background-color: rgba(181, 255, 239, 0.479);
  margin: 0 20px;
}

.nav-link {
  padding: 6px 20px;
  margin: 2px;
  background-color: rgba(245, 245, 245, 0.431);
  border: 1px solid rgb(78, 78, 78);
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

// === FOOTER ===
footer {
  background-color: rgb(30, 30, 53);
  width: 100%;
  color: white;
  font-size: 1.8rem;
}
footer p {
  padding: 10px; 
}

// === PROFILE PAGE ===
.secret-main {
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 230, 250, 0.550);
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  border: 5px solid slategrey;
}

.secret-main h2, img{
  margin: 0 auto;
  font-size: 3rem;
}